body {
	background-attachment: fixed;
	background-color: black;
	background-image: url(https://ak5.picdn.net/shutterstock/videos/31325755/thumb/1.jpg);
	background-position: center;
	background-size: auto;
	color: white;
	text-align: center;
}